*{
}

body{
    background-color: hsl(211, 100%, 70%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.most-heat{
    background-image: url(../img/heat.jpg);
    background-size:cover ;
}

.presave-cont{
    width: 40%;
    background-color: rgb(255, 255, 255, .1);
}
.location{
    color: rgb(255, 255, 255);
}

.card-main{
    background-color: rgb(255, 255, 255, .1);
    color: rgb(255, 248, 248);
}

.temp{
    color: rgb(255, 255, 255);
}